/* ログインフォーム/アカウント作成フォーム */
.authorization_head {
    display:flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
}
.authorization {
    display: block;
    margin: 0 auto 50px auto;
    width: 400px;
    border :solid 1px #707070;
    border-radius: 0.2em;
}
.authorization > .authorization_form > form > .title {
    font-size: 125%;
    color:#545050;
    text-shadow:0px 0px 2px #8c5c3e;
    margin-bottom:15px;
    padding: 10px 0 20px 0;
    text-align: center;
    border-bottom: solid 1px #8c5c3e;
}
.authorization > .authorization_form {
    margin : 0 auto;
    padding: 15px;
    border-bottom: solid 1px #cbcbcb;
}
.authorization > .authorization_navi {
    margin : 0 auto;
    text-align: center;
    padding: 10px 15px;
}
.authorization > .authorization_navi > .authorization_text {
	color:#a09679;
    padding:  0;
    font-size: 85%;
    text-shadow:0px 0px 2px #d5bb7a;
}
.authorization > .authorization_navi > .authorization_link {
    display: inline-block;
    font-size: 85%;
    margin: 5px 0;
    padding:10px;
    borderrgb:(86, 92, 147) 0.2em;
    color:#4b4b9a;
    cursor: pointer;
}
